.root {
    -fx-background-color: #f4f4f4;
}

.primary-button {
    -fx-background-color: #C10C1F;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 20 8 20;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.primary-button:hover {
    -fx-background-color: #A00A19;
}

.tool-button {
    -fx-background-color: #FAF3E1;
    -fx-text-fill: #333333;
    -fx-border-color: #333333;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 8 15 8 15;
    -fx-cursor: hand;
}

.tool-button:hover {
    -fx-background-color: #EAE0C8;
    -fx-border-color: #333333;
}

.home-page {
    -fx-alignment: center;
    -fx-spacing: 20;

}

.label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.background{
    -fx-background-color: white;
}

.edge{
    -fx-stroke-width: 3;
    -fx-stroke : grey;
}

.node{
    -fx-stroke : grey;
}

.click{
    -fx-cursor: hand;

}